@model IEnumerable<ValeProject.Models.Sefer>

@{
    
}
<link href="~/css/UyeOl_Style.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/css/BiletAl_Style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="assets/css/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<!-- DatePicker -->
<script type="text/javascript" src="/scripts/moment.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>
<link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Bilet Satın Al</h3>
                </div>
                <div class="panel-body" ng-app="myApp" ng-controller="biletController">
                    <form accept-charset="UTF-8" role="form" action="/Home/BiletAl" method="post">
                        <fieldset>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Kalkış</label>
                                    <div class="cols-sm-10">
                                        <select id="selectbasic" name="kalkisSehri" class="form-control input-md">
                                            <option>İstanbul</option>
                                            <option>Eskişehir</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Varış</label>
                                    <div class="cols-sm-10">
                                        <select id="selectbasic" name="VarisSehri" class="form-control input-md">
                                            <option>Eskişehir</option>
                                            <option>Bursa</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class='row'>
                                    <div class='col-sm-12'>
                                        <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label">Tarih</label>
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input type='text' id="datetimepicker1_text" name="tarih" class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-top:25px">
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Sefer Sorgula" style="color: white">
                            </div>
                        </fieldset>
                    </form>
                    <div class="col-md-9">
                        <table class="table">
                            @if (Model != null)
                            {
                                <tr style="background: #5cb85c; color: white; font-weight: bold">
                                    <th>
                                        Kalkış Saati
                                    </th>
                                    <th>
                                        Otobüs Markası
                                    </th>
                                    <th>
                                        Bilet Fiyatı
                                    </th>
                                    <th>
                                        Tahmini Süre
                                    </th>
                                    <th></th>
                                </tr>

                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.KalkisSaati)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Otobus.Marka)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Fiyat)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TahminiSure) Saat
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                <input class="btn btn-lg btn-primary btn-block" type="submit" value="İncele" ng-click="go(@Html.DisplayFor(modelItem => item.SeferID))" style="color: white">
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <h2>
                                    <center>@ViewBag.mesaj</center>
                                </h2>
                            }
                        </table>
                    </div>

                    <div ng-show="v"  class="col-md-3">
                        <div id="otobus" style="width: 250px">
                            <table>
                                <tbody>
                                <tr ng-repeat="bilet in biletler" ng-if="$index % 3 == 0">
                                    <td>
                                        <div class="erkek" ng-if="biletler[$index].MusteriCinsiyet=='Erkek'">
                                            {{biletler[$index].KoltukNo}}
                                        </div>
                                        <div class="kız" ng-if="biletler[$index].MusteriCinsiyet=='Kız'">
                                            {{biletler[$index].KoltukNo}}
                                        </div>
                                        <div class="bos" ng-if="biletler[$index].MusteriCinsiyet==null" ng-click="addRow(biletler[$index].SeferID,biletler[$index].KoltukNo)">
                                            {{biletler[$index].KoltukNo}}
                                        </div>
                                    </td>
                                    <td class="gorunmez"></td>
                                    <td class="gorunmez"></td>
                                    <td ng-if="biletler[$index + 1].KoltukNo != null">
                                        <div class="erkek" ng-if="biletler[$index+1].MusteriCinsiyet=='Erkek'">
                                            {{biletler[$index+1].KoltukNo}}
                                        </div>
                                        <div class="kız" ng-if="biletler[$index+1].MusteriCinsiyet=='Kız'">
                                            {{biletler[$index+1].KoltukNo}}
                                        </div>
                                        <div class="bos" ng-if="biletler[$index+1].MusteriCinsiyet==null" ng-click="addRow(biletler[$index+1].SeferID,biletler[$index+1].KoltukNo)">
                                            {{biletler[$index+1].KoltukNo}}
                                        </div>
                                    </td>
                                    <td ng-if="biletler[$index + 2].KoltukNo != null">
                                        <div class="erkek" ng-if="biletler[$index+2].MusteriCinsiyet=='Erkek'">
                                            {{biletler[$index+2].KoltukNo}}
                                        </div>
                                        <div class="kız" ng-if="biletler[$index+2].MusteriCinsiyet=='Kız'">
                                            {{biletler[$index+2].KoltukNo}}
                                        </div>
                                        <div class="bos" ng-if="biletler[$index+2].MusteriCinsiyet==null" ng-click="addRow(biletler[$index+2].SeferID,biletler[$index+2].KoltukNo)">
                                            {{biletler[$index+2].KoltukNo}}
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <form accept-charset="UTF-8" role="form" action="/Home/BosBiletAl" method="post">
                        <div class="col-md-9">
                            <table class="table">
                                <thead style="background: gray; color: white">
                                <tr>
                                    <th>Bilet Bilgileri</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="background: rgb(223, 45, 46); color: white; font-weight: bold">
                                    <th>Tarih</th>
                                    <th>Saat</th>
                                    <th>Kalkış</th>
                                    <th>Varış</th>
                                    <th>Koltuk</th>
                                    <th>Yolcu Adı</th>
                                    <th>Cinsiyet</th>
                                    <th>Ücret</th>
                                </tr>
                                <tr ng-repeat="row in rows">
                                    <td name="kalkisTarihi">{{rows[$index].KalkisTarihi}}</td>
                                    <td name="kalkisSaati">{{rows[$index].KalkisSaati.Hours}}:00</td>
                                    <td name="kalkisSehri">{{rows[$index].KalkisSehri}}</td>
                                    <td name="varisSehri">{{rows[$index].VarisSehri}}</td>
                                    <td name="koltukNo">{{rows[$index].MuavinID}}</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="cols-sm-10">
                                                <input type="text" class="form-control input-md" name="adSoyad">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="cols-sm-10">
                                                <select id="" name="cinsiyet" class="form-control input-md">
                                                    <option>Erkek</option>
                                                    <option>Kız</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                    <td name="fiyat">{{rows[$index].Fiyat}}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="col-md-2" style="margin-top:100px;">
                            <input class="btn btn-lg btn-danger btn-block" type="submit" value="Bilet Satın Al" style="color: white">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/myApp.js"></script>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({ format: 'yyyy-mm-dd hh:ii' });
</script>
